#titulo-principal{
     color: red;
}

#titulo-secundario{
     color: green;
}

.parrafo-azul{
     color: blue;
}


span p:first-child{color: red;}
span p:last-child{color: blue;}
span p:nth-child(4){color: pink;}
.pink:hover{color: pink;}


#box{
     width: 800px;
     background: cyan;
}

.inline, .block{
     color: white;
     background: purple;
     margin: 10px;
     padding: 10px;
     border: 3px solid green;
}

.block{
     background: red;
}